#DB
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=db
POSTGRES_PORT=5432
POSTGRES_HOST=db

#REDIS
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=password

RELOAD=True
BASE_URL=http://localhost:8000